{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- style -%}
  [x-cloak] { display: none !important; }

  .section-template-background .dark {
    background-color: {{ section.settings.color_background_dark }}
  }

  .section-template-background {
    background-color: {{ section.settings.color_background_light }}
  }
{%- endstyle -%}

{{ 'bundle-add.js' | asset_url | script_tag }}

<div class="section-template-background gradient isolate">
  <div
    class="max-w-[var(--page-width)] mt-0 mb-auto mx-auto {% if section.settings.fullwidth_mobile %}w-screen{% endif %}{% if section.settings.fullwidth_desktop %}md:w-screen{% endif %} px-0 pt-[{{ section.settings.padding_top_mobile }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pt-[{{ section.settings.padding_top_desktop }}px] md:pb-[{{ section.settings.padding_bottom_desktop }}px]"
  >
    {%- if section.settings.heading != blank -%}
      <h2
        class="mt-0 mb-12 inline-text text-[{{ section.settings.heading_size }}%] {{ section.settings.heading_tag }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      >
        {{-
          section.settings.heading
          | replace: '[', '<span class="relative inline-block font-bold">'
          | replace: ']', '</span>'
        -}}
      </h2>
    {%- endif -%}
    {%- if section.settings.subheading_text != blank -%}
      <p class="mt-0 mb-12 inline-text{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{- section.settings.subheading_text -}}
      </p>
    {%- endif -%}

    <div
      x-data="
        {
          bundle_items: [],
          bundle_item_ids: [],

          addToBundle(item, id) {
            if (!{{ section.settings.allow_multiple_products }} || !this.bundle_item_ids.includes(id)) {
              this.bundle_items.push(item);
              this.bundle_item_ids.push(id);
            }
          },

          removeFromBundle(index) {
            this.bundle_items.splice(index, 1);
            this.bundle_item_ids.splice(index, 1);
          }
        }
      "
      class="items-center md:items-start flex flex-col gap-2 md:flex-row"
    >
      <div class="grid grid-cols-1 gap-[{{ section.settings.block_spacing_mobile }}px] md:grid-cols-3 md:gap-[{{ section.settings.block_spacing_desktop }}px] w-full max-w-[75%] h-full flex-grow-8">
        {%- if section.settings.product_list != blank -%}
          {%- for product in section.settings.product_list limit: section.settings.product_shown -%}
            <div
              class="row-span-1 col-span-1 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <div class="w-full max-w-none h-full">
                {% assign skip_card_product_styles = false %}
                {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: 'adapt',
                  extend_height: true,
                  placeholder_image: placeholder_image,
                  skip_styles: skip_card_product_styles,
                  media_aspect_ratio: 'portrait',
                  bundle: true,
                  section_col_nums_desktop: 1,
                  section_col_nums_mobile: 1,
                  product_size_col: 1
                %}
              </div>
            </div>
          {%- endfor -%}
        {%- elsif section.settings.collection != blank -%}
          {%- for product in section.settings.collection.products limit: section.settings.product_shown -%}
            <div
              class="row-span-1 col-span-1 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              <div class="w-full max-w-none h-full">
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: 'adapt',
                  extend_height: true,
                  placeholder_image: placeholder_image,
                  skip_styles: skip_card_product_styles,
                  media_aspect_ratio: 'portrait',
                  bundle: true,
                  section_col_nums_desktop: 1,
                  section_col_nums_mobile: 1,
                  product_size_col: 1
                %}
              </div>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
      <div
        class="sticky bottom-0 md:top-0 border-solid border-2 bg-white h-fit border-[{{ section.settings.line_border_color_light }}]"
        {{ block.shopify_attributes }}
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        <div class="p-8">
          {%- if section.settings.summary_heading != blank -%}
            <h2
              class="m-0 inline-text"
            >
              {{- section.settings.summary_heading -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.summary_text != blank -%}
            <p class="mt-2 inline-text">
              {{- section.settings.summary_text -}}
            </p>
          {%- endif -%}
          <div>
            <template x-for="(item, index) in bundle_items">
              <div
                id="bundle-summary-product-{{ item.id }}"
                class="cart-item flex flex-row flex-shrink-0 relative py-1.5 gap-2.5"
              >
                <div class="w-[70px] h-[70px] relative">
                  <img :src="item.featured_image" alt="" loading="lazy">
                  <div
                    class="cursor-pointer absolute rtl:-left-1.5 rtl:right-auto -top-1.5 pl-1 pr-1 pt-1 pb-1 -right-1.5 text-black border border-black bg-white rounded-full"
                    @click="removeFromBundle(index)"
                  >
                    <span class="w-2 h-2 block">
                      <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M0.757812 8.75781L4.75782 4.75783M4.75782 4.75783L8.7578 0.757812M4.75782 4.75783L0.757812 0.757812M4.75782 4.75783L8.7578 8.75781" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </div>
                </div>
                <div>
                  {%- if settings.show_vendor -%}
                    <p
                      class="text-[1rem]/[calc(1 + 0.2 / var(--font-body-scale))] tracking-[0.13rem] uppercase opacity-[0.7]"
                      x-text="item.vendor"
                    ></p>
                  {%- endif -%}
                  <h3 class="mt-0 mb-2 h4" x-text="item.title"></h3>
                  <dl>
                    <div x-show="item.has_only_default_variant">
                      <template x-for="option in item.options_with_values">
                        <div class="text-[1.4rem]/[calc(1 + 0.5 / var(--font-body-scale))] break-words">
                          <dt>{{ option.name }}:</dt>
                          <dd>{{ option.value }}</dd>
                        </div>
                      </template>
                    </div>
                  </dl>
                </div>
              </div>
            </template>
            <div x-show="bundle_items.length" x-cloak>
              <button
                id="bundle-submit"
                type="button"
                name="add"
                @click="addBundleToCart(bundle_item_ids)"
                class="p-[0.8rem] min-w-full box-border button button--full-width button--secondary"
                aria-haspopup="dialog"
                aria-live="polite"
                data-sold-out-message="true"
              >
                <span>
                  {{ 'ADD TO CART' }}
                </span>
                {%- if horizontal_quick_add -%}
                  <span class="icon-wrap">
                    {{- 'icon-plus.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- render 'loading-spinner' -%}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product bundle",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["collection", "product"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.collage.settings.heading.label",
      "info": "Wrap your text between [] to add heading highlights. E.g: Adding [marker] will underline [highlight] text.",
      "default": "Product bundles"
    },
    {
      "type": "select",
      "id": "heading_marker",
      "label": "Marker",
      "options": [
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "font_highlight",
          "label": "Font Highlight"
        }
      ],
      "default": "underline"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading size",
      "min": 50,
      "max": 200,
      "unit": "%",
      "step": 10,
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading tag",
      "options": [
        {
          "label": "H1",
          "value": "h1"
        },
        {
          "label": "H2",
          "value": "h2"
        },
        {
          "label": "H3",
          "value": "h3"
        },
        {
          "label": "H4",
          "value": "h4"
        },
        {
          "label": "H5",
          "value": "h5"
        },
        {
          "label": "H6",
          "value": "h6"
        },
        {
          "label": "p",
          "value": "p"
        }
      ],
      "default": "h2"
    },
    {
      "type": "text",
      "id": "subheading_text",
      "label": "text",
      "default": "Create a bundle and save up to 30%!"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "'Add to bundle' button label",
      "default": "ADD TO BUNDLE"
    },
    {
      "type": "header",
      "content": "Bundles"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
      "type": "range",
      "id": "product_shown",
      "label": "Maximum number of products shown",
      "info": "Only applies to collection select.",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Select products",
      "info": "Products selected here will override the collection selected above (if exist). Select up to 12 products.",
      "limit": 12
    },
    {
      "type": "checkbox",
      "id": "allow_multiple_products",
      "label": "Each product can be added to bundle once",
      "default": true,
      "info": "If products have variants, each variants can only be added once."
    },
    {
      "type": "range",
      "id": "min_product_to_add",
      "label": "Minimum items in bundle to get discounts",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "discount_type",
      "label": "Discount type",
      "options": [
        {
          "label": "Percentage",
          "value": "percentage"
        },
        {
          "label": "Fixed amount",
          "value": "fixed"
        }
      ],
      "info": "Select the discount type of your preferred discount rule in Admin > Discounts to show the discount price in bundle details.",
      "default": "percentage"
    },
    {
      "type": "text",
      "id": "discount_value",
      "label": "Discount value",
      "info": "Fill in the exact discount percentage or amount of your preferred discount rule in Admin > Discounts. If the value here is different from discount values with selected type in all existing discount rules on the store, the correct discount value cannot be shown in bundle details, but can still be applied in cart and checkout, which might cause customers' confusion."
    },
    {
      "type": "checkbox",
      "id": "discount_bundle_once",
      "label": "Only apply discount once per order",
      "default": false,
      "info": "Setup the same as the 'Only apply discount once per order' setting in the preferred discount rule in admin. If disabled, discount amount will be taken off each eligible item in an order."
    },
    {
      "type": "header",
      "content": "Bundle summary"
    },
    {
      "type": "select",
      "id": "summary_position",
      "label": "Desktop summary position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "right"
    },
    {
      "type": "text",
      "id": "summary_heading",
      "label": "Bundle heading",
      "default": "Bundle Contents"
    },
    {
      "type": "text",
      "id": "summary_text",
      "label": "Bundle text",
      "default": "Add at least 3 items to get 33% Off"
    },
    {
      "type": "color",
      "id": "bg_color_light",
      "label": "Background color (light)"
    },
    {
      "type": "color",
      "id": "title_color_light",
      "label": "Title color (light)"
    },
    {
      "type": "color",
      "id": "text_color_light",
      "label": "Text color (light)"
    },
    {
      "type": "color",
      "id": "button_color_light",
      "label": "Primary button (light)"
    },
    {
      "type": "color",
      "id": "button_text_color_light",
      "label": "Primary button text (light)"
    },
    {
      "type": "color",
      "id": "button_hover_color_light",
      "label": "Primary button hover (light)"
    },
    {
      "type": "color",
      "id": "button_text_hover_color_light",
      "label": "Primary button hover text (light)"
    },
    {
      "type": "color",
      "id": "line_border_color_light",
      "label": "Line and border (light)"
    },
    {
      "type": "color",
      "id": "bg_color_dark",
      "label": "Background color (dark)"
    },
    {
      "type": "color",
      "id": "title_color_dark",
      "label": "Title color (dark)"
    },
    {
      "type": "color",
      "id": "text_color_dark",
      "label": "Text color (dark)"
    },
    {
      "type": "color",
      "id": "button_color_dark",
      "label": "Primary button (dark)"
    },
    {
      "type": "color",
      "id": "button_text_color_dark",
      "label": "Primary button text (dark)"
    },
    {
      "type": "color",
      "id": "button_hover_color_dark",
      "label": "Primary button hover (dark)"
    },
    {
      "type": "color",
      "id": "button_text_hover_color_dark",
      "label": "Primary button hover text (dark)"
    },
    {
      "type": "color",
      "id": "line_border_color_dark",
      "label": "Line and border (dark)"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "range",
      "id": "block_spacing_desktop",
      "label": "Block spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "fullwidth_desktop",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "divider_desktop",
      "label": "Show section divider",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 28
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "radio",
      "id": "column_amount_mobile",
      "label": "Number of columns",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "block_spacing_mobile",
      "label": "Block spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "fullwidth_mobile",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "divider_mobile",
      "label": "Show section divider",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 28
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 28
    }
  ],
  "presets": [
    {
      "name": "Product bundle"
    }
  ]
}
{% endschema %}
